{% extends "index.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<h2>Crear Cuenta</h2>
<form method="POST" class="form-card">
    <label for="usuario">Usuario</label>
    <input type="text" id="usuario" name="usuario" required>

    <label for="contraseña">Contraseña</label>
    <input type="password" id="contraseña" name="contraseña" required>

    <button type="submit" class="btn-primary">Registrarse</button>
</form>
<p class="switch-link">
    ¿Ya tenés cuenta? <a href="{{ url_for('login') }}">Iniciá sesión</a>
</p>
{% endblock %}

